<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>{{title}}</title>
	<base href="{{siteUrl}}" />
	<link href="content/css/style.css" rel="stylesheet" type="text/css" />
	<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/ui.all.css" rel="stylesheet" />
    <script src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
		google.load("swfobject", "2.1");
		google.load("jquery", "1.3.2");
		google.load("jqueryui", "1.7.2");
	</script>
	<script type="text/javascript" src="content/js/jquerycookie.js"></script>
	<script type="text/javascript" src="content/js/scripts.js"></script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>